n8n/Canonical_feeds_to_MM.json
{
  "name": "Canonical feeds to MM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": "53"
            }
          ]
        }
      },
      "id": "c456b04c-2982-456b-b4b6-5029a3007784",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json[\"link\"] }}\n**{{ $json[\"title\"] }}**\n> {{ $json.contentSnippet }}"
            },
            {
              "name": "username",
              "value": "n8n"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "bdcd8be2-4c01-4d4e-837d-58c2ad6853aa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "056d8471-7df7-4945-9e8f-44d7ec804ec1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        480,
        840
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1e40f5b6-f245-47ef-a767-dc46d808afab",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://canonical.com/blog/feed\" } },\n  { json: { url: \"https://ubuntu.com/blog/feed\" } },\n  { json: { url: \"https://jp.ubuntu.com/blog/feed\" } },\n];"
      },
      "id": "a954f249-c5cc-45e5-8da8-c0891eb05918",
      "name": "Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        80,
        740
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "1cc71b96-7556-4c9f-a7e0-c9841c51c7f6",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feeds": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Etc/GMT",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "07436dfa-c785-4524-82db-0726412c9890",
  "id": "0UtPazPjbGJqq1zz",
  "meta": {
    "instanceId": "87d566f088603699f1bb4bd90ec9543ff77f429e8eddd7098e5ddfadfa027a95"
  },
  "tags": []
}