n8n/Canonical_feeds_to_MM.json
{
  "name": "Canonical feeds to MM [53]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": "53"
            }
          ]
        }
      },
      "id": "d6fd8711-a8b5-4739-9d2d-9bd3419a0e6c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json[\"link\"] }}\n**{{ $json[\"title\"] }}**\n> {{ $json.contentSnippet }}"
            },
            {
              "name": "username",
              "value": "n8n"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "b3ab433c-ddfa-4240-be80-96138f966466",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "0e5bbdea-2407-4679-a1c3-b478d0aa5efa",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        780,
        380
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c61cc2ca-fa28-478e-9664-8389db52fb3a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://canonical.com/blog/feed\" } },\n  { json: { url: \"https://ubuntu.com/blog/feed\" } },\n  { json: { url: \"https://jp.ubuntu.com/blog/feed\" } },\n];"
      },
      "id": "15a5407c-b089-4d66-b907-e4cb6af7c83e",
      "name": "Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        380,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "419b8d4f-cb43-4f13-81dd-d5d3dc92294a",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        760,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feeds": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Etc/GMT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4f488687-660f-419f-8615-31e61445b930",
  "id": "nwM4um6JChHhUuMI",
  "meta": {
    "instanceId": "4f1e40c0c36cfbf1baf61978f97165ef394bd2b2c56ae5b5321e2e9ddecd27ec"
  },
  "tags": []
}
