n8n/Linux_news_to_MM__89_.json
{
  "name": "Linux news to MM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 89
            }
          ]
        }
      },
      "id": "cadb08c9-8c47-4af4-b24b-e08b8fbcad95",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json[\"link\"] }}\n**{{ $json[\"title\"] }}**\n> {{ $json.contentSnippet }}"
            },
            {
              "name": "username",
              "value": "n8n"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "b308d02a-f6e4-4599-9fc5-014eb202ba99",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "52b680a4-9273-4120-b3a4-d2115c668711",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        520,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "27947f3f-5755-477c-8d00-729120a47469",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "e3b777f4-4286-4310-917f-e37d45bfae95",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.omgubuntu.co.uk/feed\" } },\n];"
      },
      "id": "02597034-4244-4dde-8018-d355bbb43a89",
      "name": "Ubuntu news",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.omglinux.com/feed\" } },\n  { json: { url: \"https://www.linux.com/feed/\" } },\n  { json: { url: \"https://www.phoronix.com/rss.php\" } },\n];"
      },
      "id": "69b296e8-d8c0-4daf-9d0a-5d16dcc0ff0d",
      "name": "Linux news",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.theregister.com/headlines.atom\" } },\n  { json: { url: \"https://feeds.feedburner.com/DataCenterKnowledge\" } },\n  { json: { url: \"https://feeds.arstechnica.com/arstechnica/index\" } },\n  { json: { url: \"https://www.zdnet.com/news/rss.xml\" } },\n  { json: { url: \"https://www.cnet.com/rss/news/\" } },\n  { json: { url: \"https://thenewstack.io/feed/\" } },\n  { json: { url: \"https://www.theverge.com/rss/index.xml\" } },\n  { json: { url: \"https://www.infoworld.com/index.rss\" } },\n  { json: { url: \"https://feeds.bbci.co.uk/news/rss.xml\" } },\n];"
      },
      "id": "253fc3c5-1cdd-4fc7-a487-32ada8c2408b",
      "name": "News - en",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"http://feeds.japan.zdnet.com/rss/zdnet/all.rdf\" } },\n  { json: { url: \"http://feeds.japan.cnet.com/rss/cnet/all.rdf\" } },\n  { json: { url: \"https://cloud.watch.impress.co.jp/data/rss/1.0/clw/feed.rdf\" } },\n  { json: { url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" } },\n  { json: { url: \"https://www.techno-edge.net/rss20/index.rdf\" } },\n  { json: { url: \"https://rss.itmedia.co.jp/rss/2.0/news_bursts.xml\" } },\n  { json: { url: \"https://weekly.ascii.jp/rss.xml\" } },\n  { json: { url: \"https://gihyo.jp/feed/rss2\" } },\n  { json: { url: \"https://thinkit.co.jp/rss.xml\" } },\n  { json: { url: \"https://codezine.jp/rss/new/20/index.xml\" } },\n  { json: { url: \"https://www.publickey1.jp/atom.xml\" } },\n];"
      },
      "id": "679699ed-c304-4f4f-8b1b-38f2f54ec36e",
      "name": "News - ja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        960
      ]
    },
    {
      "parameters": {},
      "id": "5a36ae93-b2fa-49cf-8cef-fab22d79bec2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        660
      ]
    },
    {
      "parameters": {},
      "id": "48fc9db6-effd-4936-8949-90d6ceb943c1",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        840
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "9b8c01d3-0883-43bf-9951-ef9c2b7a0067",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        840
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "bc023891-4602-4cb9-9919-dac2fa5bd335",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "9d001786-b49e-435c-a9ab-a8bf05f74386",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        520,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "d7ac94e0-219a-49a4-84e9-2e67e6101e67",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }} {{ $json.link }}",
              "operation": "regex",
              "value2": "/Canonical|Ubuntu/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/OpenStack|Kubernetes/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/Red Hat|RHEL|OpenShift|CentOS|Rocky Linux|AlmaLinux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/SUSE/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/layoff|レイオフ/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/CVE|microcode/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/acquisition|acquire|買収/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/IPO/"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "ad50c6bf-5283-46e3-bf49-5466debb9fae",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        720,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "value2": "/Linux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }} {{ $json.link }}",
              "operation": "regex",
              "value2": "/Canonical|Ubuntu/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/OpenStack|Kubernetes/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/Red Hat|RHEL|OpenShift|CentOS|Rocky Linux|AlmaLinux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/SUSE/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/layoff|レイオフ/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/CVE|microcode/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/acquisition|acquire|買収/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/IPO/"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "f77f40ce-96e2-4a9f-9b6e-69543e0da864",
      "name": "Filter incl. Linux",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        720,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"link\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "008a34a0-705c-40b0-aeca-0e7125525455",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1060,
        740
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ubuntu news",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linux news",
            "type": "main",
            "index": 0
          },
          {
            "node": "News - en",
            "type": "main",
            "index": 0
          },
          {
            "node": "News - ja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ubuntu news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linux news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News - en": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News - ja": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Filter incl. Linux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter incl. Linux": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9bf11d7-bd6f-4b16-92f3-a712e3d10fe0",
  "id": "ybRrRCg74xkCux4h",
  "meta": {
    "instanceId": "87d566f088603699f1bb4bd90ec9543ff77f429e8eddd7098e5ddfadfa027a95"
  },
  "tags": []
}
