n8n/Linux_news_to_MM.json
{
  "name": "Linux news to MM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 89
            }
          ]
        }
      },
      "id": "993b65fe-e64f-4550-aae4-a600aa4f55c0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json[\"link\"] }}\n**{{ $json[\"title\"] }}**\n> {{ $json.contentSnippet }}"
            },
            {
              "name": "username",
              "value": "n8n"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "fff7cc40-23f8-432b-866f-310aab2eee63",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "3c603060-dadc-4f3f-90d1-9c5b1a3f4318",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        520,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "567c2503-25f6-4f9a-bf9d-376329ad2134",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "7e7b6ee4-ad40-4b4c-9674-d8f6a36217ee",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.omgubuntu.co.uk/feed\" } },\n];"
      },
      "id": "080e5392-b7b1-4332-9332-7c8d4bda07cc",
      "name": "Ubuntu news",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.omglinux.com/feed\" } },\n  { json: { url: \"https://www.linux.com/feed/\" } },\n  { json: { url: \"https://www.phoronix.com/rss.php\" } },\n];"
      },
      "id": "506fba3b-6b74-42e0-ad68-1d9454fa3d09",
      "name": "Linux news",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://www.theregister.com/headlines.atom\" } },\n  { json: { url: \"https://feeds.feedburner.com/DataCenterKnowledge\" } },\n  { json: { url: \"https://feeds.arstechnica.com/arstechnica/index\" } },\n  { json: { url: \"https://www.zdnet.com/news/rss.xml\" } },\n  { json: { url: \"https://www.cnet.com/rss/news/\" } },\n  { json: { url: \"https://thenewstack.io/feed/\" } },\n  { json: { url: \"https://www.theverge.com/rss/index.xml\" } },\n  { json: { url: \"https://www.infoworld.com/index.rss\" } },\n  { json: { url: \"https://feeds.bbci.co.uk/news/rss.xml\" } },\n];"
      },
      "id": "8a605b1f-f39b-4e91-9a98-0e12cf1db9da",
      "name": "News - en",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"http://feeds.japan.zdnet.com/rss/zdnet/all.rdf\" } },\n  { json: { url: \"http://feeds.japan.cnet.com/rss/cnet/all.rdf\" } },\n  { json: { url: \"https://cloud.watch.impress.co.jp/data/rss/1.0/clw/feed.rdf\" } },\n  { json: { url: \"https://news.yahoo.co.jp/rss/topics/it.xml\" } },\n  { json: { url: \"https://www.techno-edge.net/rss20/index.rdf\" } },\n  { json: { url: \"https://rss.itmedia.co.jp/rss/2.0/news_bursts.xml\" } },\n  { json: { url: \"https://weekly.ascii.jp/rss.xml\" } },\n  { json: { url: \"https://gihyo.jp/feed/rss2\" } },\n  { json: { url: \"https://thinkit.co.jp/rss.xml\" } },\n  { json: { url: \"https://codezine.jp/rss/new/20/index.xml\" } },\n  { json: { url: \"https://www.publickey1.jp/atom.xml\" } },\n];"
      },
      "id": "276fa142-6a10-4558-9b5c-d7c807469e0c",
      "name": "News - ja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        960
      ]
    },
    {
      "parameters": {},
      "id": "594dcbc6-f5f3-46a4-b064-d4ff0936f015",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        660
      ]
    },
    {
      "parameters": {},
      "id": "4b354531-e615-4d9d-8cca-f45968bfa30b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        840
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cc487b53-a2ea-40ae-909f-b426d697c452",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        840
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}"
      },
      "id": "90f242d8-1706-480d-8f10-b3112029d374",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.isoDate }}",
              "value2": "={{\n  DateTime.fromISO($(\"Schedule Trigger\").item.json.timestamp)\n    .minus({\n      minutes:\n        $(\"Schedule Trigger\").params[\"rule\"][\"interval\"][0][\n          \"minutesInterval\"\n        ],\n    })\n    .toISO();\n}}"
            }
          ]
        }
      },
      "id": "2d27e5e9-27e3-46f6-9d00-2e8b22792c31",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        520,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "79c8808c-9531-4b01-83f6-062b033804b8",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }} {{ $json.link }}",
              "operation": "regex",
              "value2": "/Canonical|Ubuntu/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/OpenStack|Kubernetes/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/Red Hat|RHEL|OpenShift|CentOS|Rocky Linux|AlmaLinux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/SUSE/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/layoff|レイオフ/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/CVE|microcode|マイクロコード/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/acquisition|acquire|買収/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/IPO/"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "5958d5dd-2e6a-4472-a56a-7dd06afbd671",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        720,
        660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "value2": "/Linux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }} {{ $json.link }}",
              "operation": "regex",
              "value2": "/Canonical|Ubuntu/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/OpenStack|Kubernetes/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/Red Hat|RHEL|OpenShift|CentOS|Rocky Linux|AlmaLinux/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/SUSE/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/layoff|レイオフ/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/CVE|microcode|マイクロコード/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/acquisition|acquire|買収/i"
            },
            {
              "value1": "={{ $json.title }} {{ $json.contentSnippet }}",
              "operation": "regex",
              "value2": "/IPO/"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "090f34df-b0cd-4f7a-9661-60369ba37bb4",
      "name": "Filter incl. Linux",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        720,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"link\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e6137be0-7db0-4b19-ae82-e301c7844907",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1060,
        740
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ubuntu news",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linux news",
            "type": "main",
            "index": 0
          },
          {
            "node": "News - en",
            "type": "main",
            "index": 0
          },
          {
            "node": "News - ja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ubuntu news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linux news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News - en": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News - ja": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Filter incl. Linux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter incl. Linux": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Etc/GMT",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "5b976502-4b54-46ae-a9ba-3e64d864851c",
  "id": "tASvAIOYqAC9BPDj",
  "meta": {
    "instanceId": "87d566f088603699f1bb4bd90ec9543ff77f429e8eddd7098e5ddfadfa027a95"
  },
  "tags": []
}